@model WebApplication2.School_dbModels.Person

@{
    ViewData["Title"] = "Edit";
}

<div style="display:inline-flex;">
    <img src="~/images/edit-document-icon.svg" class="notFoundIcon" />
    <h1>Edit</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth" class="control-label"></label>
                <!--<input asp-for="Birth" class="form-control" />-->
                @Html.TextBox("birth", Model == null ? new DateTime(1988, 10, 10) : Model.Birth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles" class="control-label"></label>
                <select asp-for="Roles" class="form-control" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="table_button button_position" />
                <a asp-action="Index" class="table_button button_position" style="padding:0.9em;">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
